<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Lista de Equipamentos</title>
        <link rel="stylesheet" href="css/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Equipamentos</h1>
        <a href="/equipamentos/novo">Cadastrar Novo Equipamento</a>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Tipo</th>
                <th>Ações</th>
            </tr>
            <tr th:each="equipamento : ${equipamentos}">
                <td th:text="${equipamento.id}"></td>
                <td th:text="${equipamento.descricao}"></td>
                <td th:text="${equipamento.tipo.descricao}"></td>
                <td>
                    <a th:href="@{'/equipamentos/editar/' + ${equipamento.id}}">Editar</a>
                    <a th:href="@{'/equipamentos/excluir/' + ${equipamento.id}}" onclick="return confirm('Deseja excluir este equipamento?')">Excluir</a>
                </td>
            </tr>
        </table>
        <a href="/home" class="button-home">Voltar para o Inicio</a>
    </body>
</html>
