<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Cadastrar Equipamento</title>
        <link rel="stylesheet" href="css/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Cadastrar Equipamento</h1>
        <form th:action="@{/equipamentos}" th:object="${equipamento}" method="post">
            <label>Descrição:</label>
            <input type="text" th:field="*{descricao}" required><br>
            <label>Tipo:</label>
            <select th:field="*{tipo}">
                <option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="${tipo.descricao}"></option>
            </select><br>
            <button type="submit">Salvar</button>
        </form>
        <a href="/equipamentos">Voltar</a>
        <a href="/home" class="button-home">Voltar para o Inicio</a>
    </body>
</html>
