<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Lista de Colaboradores</title>
        <link rel="stylesheet" href="css/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Lista de Colaboradores</h1>
        <a href="/colaboradores/novo">Cadastrar Novo Colaborador</a>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Função</th>
                <th>Ações</th>
            </tr>
            <tr th:each="colaborador : ${colaboradores}">
                <td th:text="${colaborador.id}"></td>
                <td th:text="${colaborador.nome}"></td>
                <td th:text="${colaborador.email}"></td>
                <td th:text="${colaborador.funcao}"></td>
                <td>
                    <a th:href="@{'/colaboradores/editar/' + ${colaborador.id}}">Editar</a>
                    <a th:href="@{'/colaboradores/excluir/' + ${colaborador.id}}" onclick="return confirm('Deseja excluir este colaborador?')">Excluir</a>
                </td>
            </tr>
        </table>
        <a href="/home" class="button-home">Voltar para o Inicio</a>
    </body>
</html>
